<html>
<head>
    <script type="text/javascript" src="/static/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/static/openseadragon/openseadragon.min.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
</head>
<body>
    <div id="slide-view"></div>
</body>
</html>